@keyframes slideIn {
  0% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.nuke-animation {
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;
  animation: slideIn 2s ease-out forwards;
}